#name{
    display:flex;
    flex-direction: column;
    color: #FDF0D1;
}

#name>p.bebas{
    margin: 5px;
    margin-bottom: 0px;
    font-size: xxx-large;
}

#name>hr{
    width:95%;
    margin: 0px;
    margin-left: 3px;
    border: 2px solid #FDF0D1;
}

#name>p.aurebesh{
    margin: 5px;
    font-size: 120%;
}

#links{
    display: flex;
    justify-content: space-between;
    color: #FDF0D1;
    align-items: flex-end;
}

#links>p{
    margin: 5px;
    font-size: x-large;
}

#toolbar{
    display:flex;
    justify-content: space-between;
    background-color: #643843;
    padding: 0px;
}

/*
c1= #643843
c2= #85586F
c3= #AC7D88
c4= #FDF0D1

#283618
#606c38


*/
