#name{
    display:flex;
    flex-direction: column;
    color: #FDF0D1;
}

#name>p.bebas{
    margin: 5px;
    margin-bottom: 0px;
    font-size: xxx-large;
}

#name>hr{
    width:95%;
    margin: 0px;
    margin-left: 3px;
    border: 2px solid #FDF0D1;
}

#name>p.aurebesh{
    margin: 5px;
    font-size: 120%;
}

#links{
    display: flex;
    justify-content: space-between;
    color: #FDF0D1;
    align-items: flex-end;
}

#links>a, #links>p{
    margin: 5px;
    font-size: x-large;
    color: #FDF0D1;
    text-decoration: none;
}

#toolbar{
    display:flex;
    justify-content: space-between;
    background-color: #643843;
    padding: 0px;

}

.emphasisLine{
    border: 2px solid var(--mid-maroon);
}