@font-face{
    font-family: aurebesh;
    src: url(assets/AUREBESH.OTF);
}

@font-face{
    font-family: bebas;
    src: url(assets/BebasNeue-Regular.ttf);
}

.aurebesh{
    font-family: aurebesh;
}

.bebas{
    font-family: bebas;
}

body{
    margin: 0px;
}